################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/bin/Debug
/src/obj
/Demos/NP.Demos.CustomWindowSample/obj
/Demos/NP.Demos.CustomWindowSample/bin/Debug
/Demos/NP.Demos.CustomWindowSample/.vs/NP.Demos.CustomWindowSample/FileContentIndex
/Demos/MultiPlatformWindowDemo/.vs/MultiPlatformWindowDemo/config
/Demos/MultiPlatformWindowDemo/log.txt
/Demos/MultiPlatformWindowDemo/.vs/MultiPlatformWindowDemo
/Demos/MultiPlatformWindowDemo/bin/Debug/net6.0
/Demos/MultiPlatformWindowDemo/obj/Debug/net6.0
/Demos/MultiPlatformWindowDemo/obj
/Demos/MultiPlatformWindowDemo/.vs/ProjectEvaluation
/Demos/NP.Demos.CustomWindowSample/NP.Demos.CustomWindowSample.csproj.user
/Demos/NP.Demos.BehaviorPrototypes/obj
/Demos/NP.Demos.BehaviorPrototypes/.vs
/Demos/NP.Demos.CustomWindowSample/.vs/NP.Demos.CustomWindowSample
/Demos/NP.Demos.CustomWindowSample/.vs/ProjectEvaluation
/Demos/NP.Demos.ImplantedWindowTest/obj
/Demos/NP.Demos.ImplantedWindowTest/.vs/NP.Demos.ImplantedWindowTest
/Demos/NP.Demos.ImplantedWindowTest/bin/Debug/net6.0
/Demos/NP.Demos.ImplantedWindowTest/.vs/ProjectEvaluation
/src/bin/Release
/src/NP.Ava.Visuals.csproj.user
